@model employee.ViewModels.HomeDetailsViewModel

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Employee Details";
}

<h2> Details for Employee @Model.Employee.Name</h2>
<p>ID: @Model.Employee.ID</p>
<p>Name: @Model.Employee.Name</p>
<p>Email: @Model.Employee.Email</p>
<p>Department: @Model.Employee.Department</p>
<br />
<p>Avatar:@Model.Employee.Avatar</p>

